<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
===============================================================================================================================================================
<%= link_to "Back", articles_path%>

<h1>Comments(<%=@article.comments.count%>)</h1>
<ol type="A">
	<%@article.comments.each do |comment|%>
		<li>
			<%= comment.description%>
		</li>
	<% end %>
</ol>
<h2>Comment Here</h2>
<%#= render "/comments/form"%>
<%#= link_to "Add Comment", new_comment_path%>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
    <%#= f.label :article_id %><br>
    <%= f.hidden_field :article_id, :value => @article.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
